[submodule "3rdparty/llvm-project"]
	path = 3rdparty/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "3rdparty/tvm"]
	path = 3rdparty/tvm
	url = https://github.com/l0r3m1psum/tvm
